<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="store">
      <h2 data-cy="storeDetailsHeading"><span jhiTranslate="quanlyhangApp.store.detail.title">Store</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ store.id }}</span>
        </dd>
        <dt><span jhiTranslate="quanlyhangApp.store.nameStore">Name Store</span></dt>
        <dd>
          <span>{{ store.nameStore }}</span>
        </dd>
        <dt><span jhiTranslate="quanlyhangApp.store.addressStore">Address Store</span></dt>
        <dd>
          <span>{{ store.addressStore }}</span>
        </dd>
        <dt><span jhiTranslate="quanlyhangApp.store.createDate">Create Date</span></dt>
        <dd>
          <span>{{ store.createDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="quanlyhangApp.store.createBy">Create By</span></dt>
        <dd>
          <span>{{ store.createBy }}</span>
        </dd>
        <dt><span jhiTranslate="quanlyhangApp.store.product">Product</span></dt>
        <dd>
          <span *ngFor="let product of store.products; let last = last">
            <a [routerLink]="['/product', product?.id, 'view']">{{ product.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/store', store.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
