<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-store-heading" data-cy="StoreCreateUpdateHeading" jhiTranslate="quanlyhangApp.store.home.createOrEditLabel">
        Create or edit a Store
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.store.nameStore" for="field_nameStore">Name Store</label>
          <input type="text" class="form-control" name="nameStore" id="field_nameStore" data-cy="nameStore" formControlName="nameStore" />
          <div *ngIf="editForm.get('nameStore')!.invalid && (editForm.get('nameStore')!.dirty || editForm.get('nameStore')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameStore')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.store.addressStore" for="field_addressStore">Address Store</label>
          <input
            type="text"
            class="form-control"
            name="addressStore"
            id="field_addressStore"
            data-cy="addressStore"
            formControlName="addressStore"
          />
          <div
            *ngIf="editForm.get('addressStore')!.invalid && (editForm.get('addressStore')!.dirty || editForm.get('addressStore')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addressStore')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.store.createDate" for="field_createDate">Create Date</label>
          <div class="input-group">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="text"
              class="form-control"
              name="createDate"
              ngbDatepicker
              #createDateDp="ngbDatepicker"
              formControlName="createDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.store.createBy" for="field_createBy">Create By</label>
          <input type="text" class="form-control" name="createBy" id="field_createBy" data-cy="createBy" formControlName="createBy" />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="quanlyhangApp.store.product" for="field_products">Product</label>
          <select class="form-control" id="field_products" data-cy="product" multiple name="products" formControlName="products">
            <option
              [ngValue]="getSelectedProduct(productOption, editForm.get('products')!.value)"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
