<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading" jhiTranslate="quanlyhangApp.customer.home.createOrEditLabel">
        Create or edit a Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.customer.nameCustomer" for="field_nameCustomer">Name Customer</label>
          <input
            type="text"
            class="form-control"
            name="nameCustomer"
            id="field_nameCustomer"
            data-cy="nameCustomer"
            formControlName="nameCustomer"
          />
          <div
            *ngIf="editForm.get('nameCustomer')!.invalid && (editForm.get('nameCustomer')!.dirty || editForm.get('nameCustomer')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameCustomer')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.customer.ageCustomer" for="field_ageCustomer">Age Customer</label>
          <input
            type="number"
            class="form-control"
            name="ageCustomer"
            id="field_ageCustomer"
            data-cy="ageCustomer"
            formControlName="ageCustomer"
          />
          <div *ngIf="editForm.get('ageCustomer')!.invalid && (editForm.get('ageCustomer')!.dirty || editForm.get('ageCustomer')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ageCustomer')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ageCustomer')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.customer.addressCustomer" for="field_addressCustomer"
            >Address Customer</label
          >
          <input
            type="text"
            class="form-control"
            name="addressCustomer"
            id="field_addressCustomer"
            data-cy="addressCustomer"
            formControlName="addressCustomer"
          />
          <div
            *ngIf="
              editForm.get('addressCustomer')!.invalid &&
              (editForm.get('addressCustomer')!.dirty || editForm.get('addressCustomer')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addressCustomer')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlyhangApp.customer.numberphoneCustomer" for="field_numberphoneCustomer"
            >Numberphone Customer</label
          >
          <input
            type="number"
            class="form-control"
            name="numberphoneCustomer"
            id="field_numberphoneCustomer"
            data-cy="numberphoneCustomer"
            formControlName="numberphoneCustomer"
          />
          <div
            *ngIf="
              editForm.get('numberphoneCustomer')!.invalid &&
              (editForm.get('numberphoneCustomer')!.dirty || editForm.get('numberphoneCustomer')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numberphoneCustomer')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numberphoneCustomer')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
